<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout row justify-center>
        <v-flex xs10>
          <v-data-table :headers="headers" :items="claim_list" item-key="id" class="elevation-1">
            <template slot="items" slot-scope="props">
              <tr @click="props.expanded = !props.expanded">
                <td>
                  <router-link :to="`/claim/${props.item.id}`">
                    {{ props.item.name }}
                  </router-link>
                </td>
                <td class="text-xs-left">{{ props.item.expires | formatDateTime }}</td>
                <td class="text-xs-left">
                  <router-link :to="`/user/${props.item.creator}`">
                    {{ props.item.creatorname }}
                  </router-link>
                </td>
              </tr>
            </template>
            <template slot="expand" slot-scope="props">
              <v-card color="accent">
                <v-card-text>{{props.item.description}}</v-card-text>
              </v-card>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'claims',
  data: function() {
    return {
      headers: [
        {
          text: 'Name',
          value: 'name',
          align: 'left'
        },
        {
          text: 'Expires On:',
          value: 'expires',
          align: 'left'
        },
        {
          text: 'Creator',
          value: 'creator',
          align: 'left'
        }
      ]
    }
  },
  asyncComputed: {
    claim_list: {
      get() {
        return this.$axi.get('/claim/all').then(response => {
          const transformed = response.data.reverse().map(tup => {
            return {
              creatorname: tup[1],
              ...tup[0]
            }
          })

          return transformed
        })
      },
      default: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
