<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card>
          <v-card-title primary-title>
            <v-container fluid grid-list-xs>
              <v-layout column align-center>
                <p class="headline text-xs-center">New Claim</p>
                <v-form v-model="valid" ref="form">
                  <v-text-field label="Title" :rules="titleRules" :counter="30" v-model="title" />
                  <v-text-field :multi-line="true" label="Description" :rules="descRules" :counter="500" v-model="description" />
                  <v-flex>
                    <v-menu ref="dateMenu" lazy :close-on-content-click="false" v-model="dateMenu" transition="scale-transition" offset-y full-width :nudge-right="40" min-width="290px" :return-value.sync="date">
                      <v-text-field slot="activator" label="Expiration Date" v-model="date" prepend-icon="event" readonly></v-text-field>
                      <v-date-picker v-model="date" :allowed-dates="allowed" @input="$refs.dateMenu.save(date)" />
                    </v-menu>
                  </v-flex>
                  <v-flex>
                    <v-menu ref="timeMenu" lazy :close-on-content-click="false" v-model="timeMenu" transition="scale-transition" offset-y full-width :nudge-right="40" min-width="290px" :return-value.sync="time">
                      <v-text-field slot="activator" label="Expiration Time" v-model="time" prepend-icon="access_time" readonly/>
                      <v-time-picker v-model="time" @input="$refs.timeMenu.save(time)" />
                    </v-menu>
                  </v-flex>
                  <v-btn :disabled="!valid_" block color="primary" @click="submit">Submit</v-btn>
                </v-form>
              </v-layout>
            </v-container>
          </v-card-title>

        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'claim-new',
  data() {
    return {
      title: '',
      titleRules: [
        v => !!v || 'Title required',
        v => (v && v.length < 30) || 'Title must be less than 30 characters'
      ],
      description: '',
      descRules: [
        v => !!v || 'Description required',
        v =>
          (v && v.length < 500) ||
          'Description must be less than 500 characters'
      ],
      date: null,
      time: null,
      poop: null,
      valid: false,
      dateMenu: null,
      timeMenu: null
    }
  },
  computed: {
    dateTime: function() {
      if (!this.date || !this.time) {
        return
      }

      const dayElems = this.date.split('-').map(e => parseInt(e))
      const timeElems = this.time.split(':').map(e => parseInt(e))

      return new Date(
        dayElems[0],
        dayElems[1] - 1,
        dayElems[2],
        timeElems[0],
        timeElems[1],
        0,
        0
      )
    },
    valid_: function() {
      if (this.valid && this.dateTime) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    allowed(v) {
      const elems = v.split('-').map(e => parseInt(e))
      const chosen = new Date(elems[0], elems[1] - 1, elems[2], 0, 0, 0, 0, 0)
      return new Date() < chosen
    },
    submit() {
      this.$axi
        .post('/claim', {
          name: this.title,
          description: this.description,
          expires: this.dateTime.toISOString()
        })
        .then(response => {
          const id = response.data.claim.id

          this.$router.push(`/claim/${id}`)
        })
        .catch(e => {
          console.log(e)
          this.$root.$emit('alert', {
            message: 'Sorry, there was an error submitting your new claim',
            type: 'error'
          })
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
