<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex xs12 md5>
        <claim-card v-if="claim" v-bind:claim="claim" />
      </v-flex>
    </v-layout>
    <v-layout row wrap justify-space-between>
      <v-flex xs12 md5>
        <order-table :orders="orders" :showUser="true" class="elevation-5" />
      </v-flex>
      <v-flex xs12 md5>
        <trade-table :trades="trades" class="elevation-5" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ClaimCard from '@/components/ClaimCard'
import OrderTable from '@/components/OrderTable'
import TradeTable from '@/components/TradeTable'

export default {
  name: 'claim',

  data() {
    return {
      id: this.$route.params.id
    }
  },
  components: {
    claimCard: ClaimCard,
    orderTable: OrderTable,
    tradeTable: TradeTable
  },
  asyncComputed: {
    claim() {
      return this.$axi.get(`/claim/${this.id}`).then(response => {
        const claim = {
          creatorname: response.data.creator_name,
          ...response.data.claim
        }
        return claim
      })
    },
    orders: {
      get() {
        return this.$axi
          .get(`/user/${this.id}/orders`)
          .then(response => response.data)
      },
      default: []
    },
    trades: {
      get() {
        return this.$axi
          .get(`/claim/${this.id}/trades`)
          .then(response => response.data)
      },
      default: []
    }
  },
  watch: {
    $route(to, from) {
      this.id = this.$route.params.id
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
