<template>
  <v-card>
    <v-card-title primary-title>
      <v-container fluid grid-list-md>
        <order-dialog v-bind:active="dialog" v-on:close="dialog = false" v-if="claim" v-bind:claim="claim" />
        <v-layout row justify-space-between>
          <v-flex>
            <p class="headline">{{ claim.name}}</p>
          </v-flex>
          <v-spacer/>
          <v-flex>
            <v-icon color='accent'>assessment</v-icon>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <p class='grey--text'>Created: {{ claim.bday | formatDate}} by
              <router-link :to="`/user/${claim.creator}`"> {{claim.creatorname}}</router-link>
            </p>
          </v-flex>
        </v-layout>
        <v-divider class="mb-3" />
        <v-layout v-if="claim.result" row class="mt-3">
          <v-flex>
            <p> Judged: {{claim.result}} </p>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex>
            <p>Expires {{claim.expires | formatDateTime}}</p>
          </v-flex>
        </v-layout>
        <v-layout v-if="claim.approved" row>
          <v-flex>
            <p> Approved </p>
          </v-flex>
        </v-layout>
        <v-layout v-else row>
          <v-flex>
            <p> Waiting on Approval</p>
          </v-flex>
        </v-layout>
        <hr class="mb-3" />
        <v-layout row>
          <v-flex>
            <p> {{ claim.description }} </p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
    <v-divider />
    <v-card-actions>
      <v-spacer/>
      <v-btn v-if="authUser" @click="dialog = true">
        Place Order
      </v-btn>
      <v-btn v-if="isAdmin && !claim.approved" @click="approve">
        Approve
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import OrderDialog from '@/components/OrderDialog'

export default {
  name: 'claim-card',
  props: {
    claim: {
      type: Object,
      required: true
    }
  },
  components: {
    orderDialog: OrderDialog
  },
  data() {
    return {
      dialog: false
    }
  },
  computed: {
    ...mapState(['authUser']),
    ...mapGetters(['isAdmin'])
  },
  methods: {
    approve() {
      this.claim.approved = true

      this.$axi
        .post(`/claim/${this.claim.id}/approve`)
        .then(resp => {
          this.claim.approved = true
          this.$root.$emit('alert', {
            message: 'Order successfully approved!',
            type: 'success'
          })
        })
        .catch(error => {
          var message =
            error.response.data.error || 'Unknown Error Placing Order'

          this.$root.$emit('alert', {
            message: message,
            type: 'error'
          })

          if (error.response) {
            console.log(error.response.data)
            console.log(error.response.status)
            console.log(error.response.headers)
          }

          this.claim.approved = false
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped >
</style>
