<template>
  <v-card>
    <v-card-title v-if="claim" primary-title>
      <v-container fluid grid-list-md>
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p class="subheading">Claim:
              <router-link :to="`/claim/${claim.id}`">
                {{ claim.name }}
              </router-link>
            </p>
          </v-flex>
        </v-layout>
        <v-divider class="mb-3" />
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p class="body-2">Shares: {{ coupon.shares }}</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: 'coupon-card',
  data() {
    return {
      claim: null
    }
  },
  props: {
    coupon: {
      type: Object,
      required: true
    }
  },
  methods: {
    unimplemented() {
      this.$root.$emit('alert', {
        message: 'This feature is unimplemented',
        type: 'warning'
      })
    }
  },
  created() {
    this.$axi.get(`/claim/${this.coupon.claim_id}`).then(response => {
      this.claim = response.data.claim
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
