<template>
  <v-expansion-panel class="elevation-5 ">
    <v-expansion-panel-content>
      <p class="title" slot="header">Orders</p>
      <v-data-table :headers="headers" :items="orders" :rows-per-page-items="rppi" item-key="id" class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr @click="props.expanded = !props.expanded">
            <td v-if="showClaim">
              <div v-if="props.item.claim_id in claims">
                <router-link :to="`/claim/${props.item.claim_id}`">
                  {{ claims[props.item.claim_id].name }}
                </router-link>
              </div>
            </td>
            <td v-if="showUser" class="text-xs-left">
              <div v-if="props.item.user_id in users">
                <router-link :to="`/user/${props.item.user_id}`">
                  {{ users[props.item.user_id].username }}
                </router-link>
              </div>
            </td>
            <td class="text-xs-left">{{ props.item.side }}</td>
            <td class="text-xs-left">{{ props.item.created_at | formatDateTime }}</td>
            <td class="text-xs-left">{{ props.item.price }}</td>
            <td class="text-xs-left">{{ props.item.num_shares }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  name: 'order-table',
  data() {
    var headers = []
    if (this.showClaim) {
      headers.push({
        text: 'Claim',
        value: 'name',
        align: 'left'
      })
    }

    if (this.showUser) {
      headers.push({
        text: 'Author',
        value: 'user_id',
        align: 'left'
      })
    }

    const finalHeaders = headers.concat([
      {
        text: 'Side',
        value: 'side',
        align: 'left'
      },
      {
        text: 'Date',
        value: 'date',
        align: 'left'
      },
      {
        text: 'Price',
        value: 'price',
        align: 'left'
      },
      {
        text: 'Shares',
        value: 'shares',
        align: 'left'
      }
    ])
    return {
      pagination: {
        sortBy: 'name',
        ascending: true
      },
      headers: finalHeaders,
      rppi: [10, 25, { text: 'All', value: -1 }]
    }
  },
  props: {
    orders: {
      type: Array,
      required: true
    },
    showClaim: {
      type: Boolean,
      default: false
    },
    showUser: {
      type: Boolean,
      default: false
    }
  },
  asyncComputed: {
    users: {
      get() {
        if (!this.showUser) {
          return
        }

        var reqs = []
        var seenUsers = []

        for (const order of this.orders) {
          const author = order.user_id

          if (!(author in seenUsers)) {
            reqs.push(this.$axi.get(`/user/${author}`))
            seenUsers.push(author)
          }
        }

        return Promise.all(reqs).then(responses => {
          var data = {}
          for (const resp of responses) {
            const user = resp.data.user
            data[user.id] = user
          }

          return data
        })
      },
      default: {}
    },
    claims: {
      get() {
        if (!this.showClaim) {
          return
        }

        var reqs = []
        var seenClaims = []

        for (const order of this.orders) {
          const claimId = order.claim_id

          if (!(claimId in seenClaims)) {
            reqs.push(this.$axi.get(`/claim/${claimId}`))
            seenClaims.push(claimId)
          }
        }

        return Promise.all(reqs).then(responses => {
          var data = {}
          for (const resp of responses) {
            const claim = resp.data.claim
            data[claim.id] = claim
          }

          return data
        })
      },
      default: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
