<template>
  <v-dialog v-model="on" :persistent="true" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">Place Order</span>
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="orderForm.price" :rules="rules.price" :type="'number'" label="Price (1-100)"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="orderForm.num_shares" :rules="rules.num_shares" :type="'number'" label="Quantity"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-select v-model="orderForm.side" :items="sides" label="Side" single-line></v-select>
              </v-flex>
              <v-flex xs12 sm6 md4>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="close">Cancel</v-btn>
        <v-btn :disabled="!valid" color="primary" flat @click.native="save">Place</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'order-dialog',
  props: {
    claim: {
      type: Object,
      required: true
    },
    active: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      orderForm: {
        side: 'Bid',
        price: null,
        num_shares: null
      },
      rules: {
        price: [
          v => !!v || 'Price is required',
          v => {
            const val = parseInt(v)
            return (
              (val && val >= 1 && val <= 100) || 'Price must be a number 1-100'
            )
          }
        ],
        num_shares: [
          v => !!v || 'Quantity is required',
          v => {
            const val = parseInt(v)
            return (val && val >= 1) || 'Price must be a number >=1'
          }
        ]
      },
      sides: ['Ask', 'Bid'],
      valid: false
    }
  },
  computed: {
    on: {
      get() {
        return this.active
      },
      set(newValue) {}
    },
    order() {
      return {
        side: this.orderForm.side,
        claim_id: this.claim.id,
        price: this.orderForm.price,
        num_shares: parseInt(this.orderForm.num_shares),
        rank: 0,
        user_id: this.authUser.id
      }
    },
    ...mapState(['authUser'])
  },
  methods: {
    save() {
      console.log('order = ' + JSON.stringify(this.order))

      if (this.$refs.form.validate()) {
        this.$axi
          .post(`/claim/${this.claim.id}/order`, this.order)
          .then(resp => {
            var message = ''
            const status = resp.data.status

            if (status === 'pending') {
              message = 'Your order has been placed in the orderbook'
            } else if (status === 'complete') {
              message = 'Your order is complete!'
            }

            this.$root.$emit('alert', {
              message: message,
              type: 'success'
            })
            this.$emit('close')
            this.$refs.form.reset()
          })
          .catch(error => {
            var message =
              error.response.data.error || 'Unknown Error Placing Order'

            this.$root.$emit('alert', {
              message: message,
              type: 'error'
            })
            if (error.response) {
              console.log(error.response.data)
              console.log(error.response.status)
              console.log(error.response.headers)
            }
            this.$refs.form.reset()
          })
      }
    },
    close() {
      this.$refs.form.reset()
      this.$emit('close')
    }
  }
}
</script>
