<template>
  <v-card>
    <v-card-title primary-title>
      <v-container fluid grid-list-md>
        <v-layout row justify-space-between>
          <v-flex>
            <p class="headline">Balance: {{ portfolio.balance}}</p>
          </v-flex>
          <v-spacer/>
          <v-flex justify-end>
            <v-icon color='accent' right>attach_money</v-icon>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p class='grey--text'>Locked Funds: {{ portfolio.locked_cash }}</p>
          </v-flex>
        </v-layout>
        <v-divider class="mb-3" />
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p>Available Cash: {{ portfolio.balance - portfolio.locked_cash }}</p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
    <v-divider />
    <v-card-actions v-if="authUser.id == portfolio.user_id">
      <v-spacer/>
      <v-btn flat color="blue-grey" @click="unimplemented">
        Beg
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'portfolio-card',
  props: {
    portfolio: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState(['authUser'])
  },
  methods: {
    unimplemented() {
      this.$root.$emit('alert', {
        message: 'This feature is unimplemented',
        type: 'warning'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
