<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <p class="display-1 text-xs-center"> Register </p>
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field label="Username" :rules="nameRules" :counter="25" v-model="username" />
          <v-text-field label="Promoter" :counter="25" v-model="promoter" />
          <v-text-field label="Password" :rules="passwordRules" v-model="password" min="8" hint="At least 8 characters" :type="showPassword ? 'text' : 'password'" :append-icon="showPassword ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (showPassword = !showPassword)" />
          <v-text-field label="Confirm password" :rules="confirmRules" v-model="confirm" min="8" hint="At least 8 characters" :type="showPassword ? 'text' : 'password'" :append-icon="showPassword ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (showPassword = !showPassword)" />
          <v-checkbox label="Do you agree?" v-model="checkbox" :rules="[v => !!v || 'You must agree to continue!']" required/>
          <v-btn :disabled="!valid" block color="primary" @click="submit">Register</v-btn>
        </v-form>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { auth } from '@/store/types'

export default {
  name: 'Register',
  data() {
    return {
      username: '',
      promoter: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 25) || 'Name must be less than 25 characters'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 8) || 'Password must be 8 or more characters'
      ],
      confirm: '',
      confirmRules: [v => v === this.password || 'Password entries must match'],
      showPassword: false,
      checkbox: false,
      valid: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'authStatus'])
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch(auth.AUTH_REGISTER, {
          username: this.username,
          password: this.password,
          confirm: this.confirm,
          promoter: this.promoter
        })
      }
    },
    ...mapActions([auth.AUTH_REGISTER])
  },
  watch: {
    isAuthenticated: function(newVal, oldVal) {
      if (newVal) {
        this.$router.push('/')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
