<template>
  <v-expansion-panel class="elevation-5 ">
    <v-expansion-panel-content>
      <p class="title" slot="header">Trades</p>
      <v-data-table :pagination.sync="pagination" :headers="headers" :items="trades" :rows-per-page-items="rppi" item-key="id" class="elevation-1">
        <template slot="items" slot-scope="props">
          <tr @click="props.expanded = !props.expanded">
            <td>
              <div v-if="props.item.claim_id in claims">
                <router-link :to="`/claim/${props.item.claim_id}`">
                  {{ claims[props.item.claim_id].name }}
                </router-link>
              </div>
            </td>
            <td class="text-xs-left">
              <div v-if="props.item.buyer in users">
                <router-link :to="`/user/${props.item.buyer}`">
                  {{ users[props.item.buyer].username }}
                </router-link>
              </div>
            </td>
            <td class="text-xs-left">
              <div v-if="props.item.seller in users">
                <router-link :to="`/user/${props.item.seller}`">
                  {{ users[props.item.seller].username }}
                </router-link>
              </div>
            </td>
            <td class="text-xs-left">{{ props.item.created_at | formatDateTime }}</td>
            <td class="text-xs-left">{{ props.item.price }}</td>
            <td class="text-xs-left">{{ props.item.shares }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  name: 'trade-table',
  data() {
    return {
      pagination: {
        sortBy: 'created_at',
        ascending: true
      },
      headers: [
        {
          text: 'Claim',
          value: 'name',
          align: 'left'
        },
        {
          text: 'Buyer',
          value: 'buyer',
          align: 'left'
        },
        {
          text: 'Seller',
          value: 'seller',
          align: 'left'
        },
        {
          text: 'Date',
          value: 'created_at',
          align: 'left'
        },
        {
          text: 'Price',
          value: 'price',
          align: 'left'
        },
        {
          text: 'Shares',
          value: 'shares',
          align: 'left'
        }
      ],
      rppi: [10, 25, { text: 'All', value: -1 }]
    }
  },
  props: {
    trades: {
      type: Array,
      required: true
    }
  },
  asyncComputed: {
    users: {
      get() {
        var reqs = []
        var seenUsers = []

        for (const trade of this.trades) {
          const buyer = trade.buyer
          const seller = trade.seller

          if (!(seller in seenUsers)) {
            reqs.push(this.$axi.get(`/user/${seller}`))
            seenUsers.push(seller)
          }

          if (!(buyer in seenUsers)) {
            reqs.push(this.$axi.get(`/user/${buyer}`))
            seenUsers.push(buyer)
          }
        }

        return Promise.all(reqs).then(responses => {
          var data = {}
          for (const resp of responses) {
            const user = resp.data.user
            data[user.id] = user
          }

          return data
        })
      },
      default: {}
    },
    claims: {
      get() {
        var reqs = []
        var seenClaims = []

        for (const trade of this.trades) {
          const claimId = trade.claim_id

          if (!(claimId in seenClaims)) {
            reqs.push(this.$axi.get(`/claim/${claimId}`))
            seenClaims.push(claimId)
          }
        }

        return Promise.all(reqs).then(responses => {
          var data = {}
          for (const resp of responses) {
            const claim = resp.data.claim
            data[claim.id] = claim
          }

          return data
        })
      },
      default: {}
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
