<template>
  <v-card>
    <v-card-title primary-title>
      <v-container fluid grid-list-md>
        <v-layout row justify-space-between>
          <v-flex>
            <p class="headline">{{ user.username}}</p>
          </v-flex>
          <v-spacer/>
          <v-flex justify-end>
            <v-icon color='accent' right>person_pin</v-icon>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p class='grey--text'>Joined: {{ user.created_at | formatDate}}</p>
          </v-flex>
        </v-layout>
        <v-layout row justify-space-between>
          <v-flex xs12>
            <p v-if="user.promo">
              <v-divider class="mb-3" /> Promoter:
              <router-link :to="`/user/${user.promo.id}`">{{user.promo.username}}</router-link>
            </p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-title>
    <v-divider />
    <v-card-actions v-if="authUser && authUser.id == user.id">
      <v-spacer/>
      <v-btn flat color="blue-grey" @click="unimplemented">
        Edit
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'user-card',
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState(['authUser']),
    ...mapGetters(['isAdmin'])
  },
  methods: {
    unimplemented() {
      this.$root.$emit('alert', {
        message: 'This feature is unimplemented',
        type: 'warning'
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
