<template>
  <v-container fluid grid-list-xl>
    <v-layout row wrap>
      <v-flex xs12 md5>
        <user-card v-if="user" v-bind:user="user" />
      </v-flex>
      <v-spacer/>
      <v-flex xs12 md5>
        <portfolio-card class="elevation-5" v-if="user && user.portfolio" v-bind:portfolio="user.portfolio" />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 md2>
        <v-expansion-panel class="elevation-5 ">
          <v-expansion-panel-content>
            <p class="title" slot="header">Coupons</p>
            <div v-for="coupon in coupons" :key="coupon.id">
              <coupon-card v-bind:coupon="coupon" class="my-2 elevation-5" />
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
      <v-flex xs12 md5>
        <order-table :orders="orders" :showClaim="true" :showUser="false" class="elevation-5" />
      </v-flex>
      <v-flex xs12 md5>
        <trade-table :trades="trades" class="elevation-5" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import UserCard from '@/components/UserCard'
import PortfolioCard from '@/components/PortfolioCard'
import CouponCard from '@/components/CouponCard'
import TradeTable from '@/components/TradeTable'
import OrderTable from '@/components/OrderTable'

export default {
  name: 'user',
  components: {
    userCard: UserCard,
    portfolioCard: PortfolioCard,
    couponCard: CouponCard,
    tradeTable: TradeTable,
    orderTable: OrderTable
  },
  data() {
    return {
      id: this.$route.params.id
    }
  },
  asyncComputed: {
    coupons: {
      get() {
        return this.$axi
          .get(`/user/${this.id}/coupons`)
          .then(response => response.data)
      },
      default: []
    },
    orders: {
      get() {
        return this.$axi
          .get(`/user/${this.id}/orders`)
          .then(response => response.data)
      },
      default: []
    },
    trades: {
      get() {
        return this.$axi
          .get(`/user/${this.id}/trades`)
          .then(response => response.data)
      },
      default: []
    },
    user() {
      const config = {
        params: {
          promoter: true,
          portfolio: true
        }
      }

      return this.$axi.get(`/user/${this.id}`, config).then(response => {
        const rawUser = response.data
        return {
          promo: rawUser.promo,
          portfolio: rawUser.portfolio,
          ...rawUser.user
        }
      })
    }
  },
  watch: {
    $route(to, from) {
      this.id = this.$route.params.id
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
