<template>
  <v-app dark>
    <v-navigation-drawer persistent :mini-variant="miniVariant" v-model="drawer" :clipped="clipped" enable-resize-watcher fixed app>
      <v-list two-line>
        <v-list-tile value="true" v-for="(item, i) in items" :key="i" :to="item.to">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-html="item.title"></v-list-tile-title>
            <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app color="primary" class="white--text" :clipped-left="clipped">
      <v-toolbar-side-icon class="white--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-btn class="white--text" icon @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="isAuthenticated" class="white--text" flat @click="logout">
        Logout
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-snackbar :timeout="2000" :color="color" :bottom="true" :right="true" v-model="snackbar">
      {{ alertMsg }}
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>

    <v-footer :fixed="fixed" app>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
import { auth } from '@/store/types'
import axi from '@/axi'

export default {
  name: 'App',
  data() {
    return {
      drawer: true,
      fixed: false,
      color: 'info',
      miniVariant: true,
      clipped: true,
      title: 'Prognos',
      snackbar: false,
      alertType: 'success',
      alertMsg: ''
    }
  },
  computed: {
    ...mapState(['token', 'authUser']),
    ...mapGetters(['isAuthenticated']),
    items: function() {
      var base = [
        {
          icon: 'home',
          title: 'Home',
          to: '/',
          subtitle: null
        }
      ]

      if (this.isAuthenticated && this.authUser) {
        base.push(
          {
            icon: 'perm_identity',
            title: `${this.authUser.username}'s profile`,
            subtitle: null,
            to: '/user/' + this.authUser.id
          },
          {
            icon: 'assessment',
            title: 'New Claim',
            subtitle: 'Create a new claim to predict',
            to: '/claim/new'
          }
        )
      } else {
        base.push({
          icon: 'lock',
          title: 'Login',
          subtitle: null,
          to: '/login',
          disabled: this.isAuthenticated
        })
      }

      return base
    }
  },
  methods: {
    logout() {
      console.log('Logging out')
      this[auth.AUTH_LOGOUT]()
      this.$router.push('/')
    },
    ...mapMutations([auth.AUTH_LOGOUT])
  },
  created() {
    if (this.token) {
      axi.defaults.headers.common['Authorization'] = this.token
    }

    this.$root.$on('alert', payload => {
      this.snackbar = true
      this.color = payload.type
      this.alertMsg = payload.message
    })
  }
}
</script>
